.hero {
  background-image: url(/web/assets/images/backgrounds/background-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--spacing-5xl);
  padding-bottom: var(--spacing-5xl);
}

.logo-background img {
  max-width: 600px;
  height: auto;
  object-fit: contain;
}
.hero__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.hero__title {
  font-size: var(--font-size-hero);
  font-weight: var(--font-weight-title);
  line-height: var(--font-line-height-sm);
  text-transform: var(--title-text-transform);
  color: var(--color-text-title);
}

.hero__title--highlight {
  display: block;
  color: var(--color-text-contrast);
}

.hero__subtitle {
  font-size: var(--font-size-lg);
  line-height: var(--font-line-height-lg);
  max-width: var(--max-width-text);
  color: var(--color-text-title);
}

.hero__actions {
  display: flex;
  gap: var(--spacing-xl);
  padding-top: var(--spacing-md);
}
