.hero {
  /*background-image: url(../../assets/images/backgrounds/hero-background.png);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-5xl);
  gap: var(--spacing-xl);
}

.hero__title {
  font-size: var(--font-size-hero);
  font-weight: var(--font-weight-title);
  line-height: var(--font-line-height-sm);
  text-transform: var(--title-text-transform);
  color: var(--color-text-title);
}

.hero__title--highlight {
  display: block;
  color: var(--color-text-contrast);
}

.hero__subtitle {
  font-size: var(--font-size-lg);
  line-height: var(--font-line-height-lg);
  max-width: var(--max-width-text);
  color: var(--color-text-title);
}

.hero__actions {
  display: flex;
  gap: var(--spacing-xl);
  padding-top: var(--spacing-md);
}
