.systems {
  background-image: url(../img/systems/Wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: var(--spacing-4xl);
  padding-bottom: var(--spacing-4xl);
}

.systems__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding-bottom: var(--spacing-3xl);
  align-items: center;
  text-align: center;
}

.systems__title {
  font-size: var(--font-size-title);
  text-transform: var(--title-text-transform);
  font-weight: var(--font-weight-title);
  line-height: var(--font-line-lg);
  color: var(--color-text-title);
}

.systems__title--highlight {
  color: var(--color-text-contrast);
}

.systems__subtitle {
  font-size: var(--font-size-lg);
  line-height: var(--font-line-heigth-xl);
  color: var(--color-text-title);
}

.systems__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-xl);
  justify-content: center;
  max-width: 1040px; /* (500px * 2) + 40px gap */
  margin: 0 auto;
}
