.hero__container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  place-content: center;
}
.hero__services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-4xl);
  place-self: center;
  margin-top: var(--spacing-5xl);
  margin-bottom: var(--spacing-2xl);
}

.systems__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-2xl);
  justify-content: center;
  max-width: var(--layout-width-grid-systems);
  margin: 0 auto;
}
