.header {
  background-color: var(--color-background-header);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.header__logo img {
  height: var(--icon-height-header);
}

.header__nav-list {
  display: flex;
  gap: var(--spacing-xs);
}

.header__nav-item a {
  padding: var(--spacing-xs) var(--spacing-lg);
  color: var(--color-text-dark);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-sm);
  border: 1px solid transparent;
  border-radius: var(--border-radius-pill);
  transition: initial;
}

.header__nav-item a:hover {
  transition: 1s;
  border: 1px solid var(--color-background-tag);
}
