/* MEDIA QUERIES */

/* BREAKPOINT 1 */
@media (max-width: 1200px) {
  /* --- ALTERANDO BASE --- */
  :root {
    --font-size-hero: 8rem; /* 128px */
    --font-size-title: 4.5rem; /* 72px */
    --spacing-4xl: 4.5rem; /* 72px */
    --spacing-5xl: 5.5rem; /* 88px */
  }
  .max-content {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
  }

  /* --- HERO SECTION --- */
  .hero__services-grid {
    gap: var(--spacing-2xl);
    margin: var(--spacing-2xl) 0;
  }

  /* --- UNIVERSITY SECTION --- */
  .university__title--highlight {
    display: block;
  }
  .university__course-deck {
    display: none;
  }
  .university__container {
    flex-direction: column;
    text-align: center;
    gap: var(--spacing-3xl);
  }

  .university__content {
    align-items: center;
    text-align: center;
  }

  .university__content .button {
    align-self: center;
  }
}

/* BREAKPOINT 2 */
@media (max-width: 992px) {
  /* --- ALTERANDO BASE --- */
  :root {
    --font-size-hero: 7rem; /* 112px */
    --font-size-title: 4rem; /* 64px */
  }

  /* --- HERO SECTION --- */
  .hero__container {
    align-items: center;
    text-align: center;
    padding-bottom: var(--spacing-5xl);
  }
  .hero__actions {
    justify-content: center;
  }
  .hero__services-grid {
    display: none;
  }

  /* --- SYSTEMS SECTION --- */
  .systems__grid {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;
  }

  /* --- CONTACT SECTION --- */
  .contact__container {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4xl);
  }

  /* --- FOOTER --- */
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2xl);
  }

  .footer__branding {
    grid-column: 1 / -1;
    align-items: center;
  }
  .footer__branding p {
    display: none;
  }
  .footer__nav {
    text-align: center;
    justify-content: center;
  }
  .footer__contact {
    gap: var(--spacing-md);
    align-items: center;
  }
  .footer__legal {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    text-align: center;
  }
}

/* BREAKPOINT 3 */
@media (max-width: 768px) {
  :root {
    --font-size-hero: 5.5rem; /* 88px */
    --font-size-title: 3rem; /* 48px */
    --font-size-lg: 1.125rem; /* 18px */
    --spacing-5xl: 4rem; /* 64px */
  }
  .max-content {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
  }

  /* --- HEADER --- */
  .header__nav-list {
    width: 50%;
  }

  /* --- HERO SECTION --- */
  .hero__container {
    height: auto;
  }

  .hero__actions {
    flex-direction: column;
    gap: var(--spacing-lg);
    width: 100%;
    max-width: 320px;
  }
  .hero__actions .button {
    width: 100%;
  }

  /* --- CONTACT & CARDS --- */
  .info-card,
  .ramal-card {
    min-width: unset;
    width: 100%;
    max-width: 420px;
  }

  /* --- FOOTER --- */
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  .footer__logo img {
    display: none;
  }
  .footer__nav {
    align-items: center;
  }
}

/* BREAKPOINT 4 */
@media (max-width: 576px) {
  :root {
    --font-size-hero: 4.5rem; /* 72px */
    --font-size-title: 2.5rem; /* 40px */
  }

  /* --- HEADER --- */
  .header__nav-list {
    width: 60%;
  }

  /* --- UNIVERSITY SECTION --- */
  .university__description {
    max-width: 45ch;
  }

  /* --- SYSTEMS SECTION --- */
  .systems__subtitle {
    max-width: 45ch;
  }
  /* FOOTER SECTION */
  .footer__contact-line span {
    max-width: 12ch;
  }
}

/* BREAKPOINT 5 */
@media (max-width: 375px) {
  :root {
    --font-size-hero: 4rem; /* 64px */
    --font-size-title: 2.25rem; /* 36px */
    --header-logo-height: 60px;
    --spacing-hamburguer: 5.25rem;
  }
  .max-content {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }

  /* --- HEADER --- */
  .header__nav-list {
    width: 75%;
  }
  .header__nav-list {
    top: var(--spacing-hamburguer);
  }

  /* --- HERO SECTION --- */
  .hero__title {
    line-height: 1;
  }

  /* --- FOOTER --- */
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__logo-text h4 {
    font-size: 1.5rem; /* 24px */
  }
  .footer__contact {
    display: none;
  }
}
