.button {
  display: inline-block;
  padding: var(--spacing-md) var(--spacing-xl);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  box-shadow: var(--shadow-primary);
  border: 0.0625rem solid transparent; /* 1px */
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  transform: var(--button-hover-animation);
}

.button--primary {
  background: var(--gradient-background-button-yellow);
  border-color: var(--color-border-button-yellow);
  color: var(--color-text-dark);
}

.button--secondary {
  background: var(--gradient-background-button-white);
  border-color: var(--color-border-button-white);
  color: var(--color-text-dark);
}
