/* Cards da Hero-Section*/
.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-lg);
  padding: var(--spacing-xl);
  height: var(--card-height-service);
  width: var(--card-width-service);
  border-radius: var(--border-radius-md);
  background-color: var(--color-background-card-services);
  transition: background-color 0.3s ease;
}

.service-card:hover {
  background-color: var(--color-background-card-services-hover);
}

.service-card__icon {
  height: var(--icon-height-md);
}

.service-card__title {
  color: var(--color-text-title);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.service-card__description {
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height-lg);
  color: var(--color-text-body-secondary);
}

/* Card de Cursos (Seção Universidade) */
.course-card {
  background-color: var(--color-background-card-services);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-lg);
  width: var(--card-width-course);
}

.course-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-card__icon {
  height: var(--icon-height-sm);
}

.course-card__meta {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--font-size-xs);
  color: var(--color-text-body-secondary);
}

.course-card__time {
  font-size: var(--font-size-xs);
  color: var(--color-text-body-secondary);
}

.course-card__body {
  margin-top: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.course-card__title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-title);
}

.course-card__description {
  font-size: var(--font-size-xs);
  max-width: var(--max-width-text);
  color: var(--color-text-body-primary);
}

.course-card__footer {
  padding-top: var(--spacing-md);
}

.course-card__tag-label {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-title);
}

.course-card__tags {
  margin-top: var(--spacing-xs);
  display: flex;
  gap: var(--spacing-md);
}

/* Card de Sistemas */
.system-card {
  background-color: var(--color-background-card-services);
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  transition: background-color 0.3s ease;
  padding: var(--spacing-lg);
}

.system-card:hover {
  background-color: var(--color-background-card-services-hover);
}

.system-card__header {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.system-card__header img {
  height: var(--icon-height-md);
}

.system-card__info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
}

.system-card__title {
  color: var(--color-text-title);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  text-transform: uppercase;
}

.system-card__description {
  color: var(--color-text-body-secondary);
  max-width: var(--max-width-text);
  font-size: var(--font-size-sm);
}

.system-card__button {
  padding: var(--spacing-sm) var(--spacing-lg);
  background-color: var(--color-text-contrast);
  color: var(--color-text-dark);
  text-align: center;
  border-radius: var(--border-radius-sm);
  margin-top: auto;
  display: block;
  font-weight: var(--font-weight-normal);
  box-shadow: var(--shadow-primary);
  transition: transform 0.2s ease-in-out;
}

.system-card__button:hover {
  transform: var(--button-hover-animation);
}

/* Card de Ramal */
.ramal-card {
  background: var(--gradient-background-button-yellow);
  min-width: var(--card-width-ramal);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
  box-shadow: var(--shadow-primary);
}

.ramal-card__title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-dark);
  text-transform: uppercase;
}

.ramal-card__description {
  color: var(--color-text-dark-secondary);
  font-size: var(--font-size-md);
  max-width: var(--max-width-text);
}

.ramal-card__button {
  margin-top: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-xl);
  background-color: var(--color-background-ramal-button);
  border-radius: var(--border-radius-sm);
  color: var(--color-text-title);
  box-shadow: var(--shadow-primary);
  font-weight: var(--font-weight-medium);
  transition: transform 0.2s ease-in-out;
}

.ramal-card__button:hover {
  transform: scale(1.02);
}

/* Card de Informações (Contato) */
.info-card {
  width: var(--card-width-info);
  border-radius: var(--border-radius-md);
  background-color: var(--color-background-card-contact);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-lg);
}

.info-card__header {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.info-card__header img {
  height: var(--icon-height-sm);
}

.info-card__title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-title);
  text-transform: uppercase;
}

.info-card__content {
  gap: var(--spacing-xxs);
  font-size: var(--font-size-sm);
  color: var(--color-text-body-secondary);
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.info-card__content--highlight {
  color: var(--color-text-contrast);
}

.info-card__contact-line {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
