.partners {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  background-color: var(--color-transparent);
}

.partners__title {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text-body-secondary);
  font-size: var(--font-size-md);
  text-transform: var(--title-text-transform);
  letter-spacing: var(--letter-spacing-lg);
  margin: var(--spacing-2xl) 0;
}

.partners__title::before,
.partners__title::after {
  content: "";
  flex: 1;
  border-bottom: 0.0625rem solid var(--color-border-divider); /* 1px */
}

.partners__title::before {
  margin-right: var(--spacing-md);
}

.partners__title::after {
  margin-left: var(--spacing-md);
}

.partners__carousel {
  overflow: hidden; /*Esconde a lista*/
  position: relative;
  width: 100%;
  /* efeito fade out */
  -webkit-mask-image: linear-gradient(
    to right,
    var(--color-transparent),
    #000 10%,
    #000 90%,
    var(--color-transparent)
  );
  mask-image: linear-gradient(
    to right,
    var(--color-transparent),
    #000 10%,
    #000 90%,
    var(--color-transparent)
  );
}

.partners__track {
  display: flex;
  width: fit-content;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 var(--spacing-3xl);
  font-size: var(--font-size-partners-item);
  font-weight: var(--font-weight-title);
  color: var(--color-text-body-secondary);
  text-transform: uppercase;
  white-space: nowrap;
  opacity: var(--opacity-primary);
  transition: opacity var(--transition-duration-normal) ease,
    transform var(--transition-duration-normal) ease;
}

.partners__item:hover {
  opacity: 1;
  transform: var(--hover-animation-alt);
  color: var(--color-text-contrast);
}
