/*Tags utilizadas na sessão da universidade (departamentos obrigatórios para os cursos disponíveis).*/
.tag {
  display: inline-block;
  font-size: var(--font-size-xs);
  color: var(--color-text-contrast);
  padding: var(--spacing-xxs) var(--spacing-xs);
  background-color: var(--color-background-tag);
  border-radius: var(--border-radius-md);
  font-weight: var(--font-weight-medium);
}
